.user {
  gap: 24px;
  
  &__container {
    position: relative;
    flex-direction: column;
    gap: 126px;
    background-color: #e7e4de;
    flex: 1;
    height: calc(100vh - 90px);
    z-index: 99;

    div {
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      &.active {
        left: -50%;
      }
    }

    @media screen and (max-width: 430px) {
      height: calc(100vh - 105px);
    }
  }

  &__avatar {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    padding: 50px;
    background-color: var(--color-bg-variant);
    border-radius: 50%;
  }

  &__nav {
    li {
      margin-bottom: 12px;
      font-weight: 500;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__content {
    display: flex;
    flex: 2;

    @media screen and (max-width: 600px) {
      flex: 1;
      .cta-main .flex {
        flex-direction: column;
        width: 100%;
        text-align: center;
      }

      .cta-main .btn {
        width: 100%;
        transform: translateY(150%);
        opacity: 0;
        animation-name: showBottom;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
      }

      /* animation */
      .cta-main .btn:nth-child(2n) {
        animation-delay: 0.3s;
      }

      .cta-main .btn.btn-primary.hover-diagonal_light {
        animation-delay: 0.6s;
      }

      @keyframes showBottom {
        0% {
          transform: translateY(200%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }

  &__panel-close {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 70px;
    background-color: var(--color-heading);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 45% 100%, 0 100%, 0% 50%);
    display: none;
    cursor: pointer;

    .icon {
      color: #e7e4de;
    }

    @media screen and (max-width: 600px) {
      display: block;
    }
  }
}
