.user__container {
  position: relative;
  flex-direction: column;
  gap: 126px;
  background-color: #e7e4de;
  flex: 1;
  height: calc(100vh - 90px);
  z-index: 99;
}

.user__container div {
  text-align: center;
}

.user__avatar {
  box-sizing: content-box;
  width: 60px;
  height: 60px;
  padding: 50px;
  background-color: var(--color-bg-variant);
  border-radius: 50%;
}

.user__nav li {
  margin-bottom: 12px;
  font-weight: 500;
}

.user__nav li:hover {
  opacity: 0.6;
}

.user__content {
  display: flex;
  flex: 2;
  align-items: flex-end;
}

.user__panel-close {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 70px;
  background-color: var(--color-heading);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 45% 100%, 0 100%, 0% 50%);
  display: none;
  cursor: pointer;
}

.user__panel-close .icon {
  color: #e7e4de;
}

@media screen and (max-width: 600px) {
  .user__content {
    flex: 1;
  }

  .user__content .cta-main .flex {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .user__content .cta-main .btn {
    width: 100%;
    transform: translateY(150%);
    opacity: 0;
    animation-name: showBottom;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
  }

  /* animation */
  .user__content .cta-main .btn:nth-child(2n) {
    animation-delay: 0.3s;
  }

  .user__content .cta-main .btn.btn-primary.hover-diagonal_light {
    animation-delay: 0.6s;
  }

  @keyframes showBottom {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .user__panel-close {
    display: block;
  }

  .user__container.active {
    left: -50%;
  }
}

@media screen and (max-width: 430px) {
  .user__container {
    height: calc(100vh - 105px);
  }
}
