.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__img {
    width: 56px;
    height: 56px;
    object-fit: contain;
  }

  &__text {
    margin-top: 0.5rem;
    color: var(--color-text);
    font-size: 1.25rem;
  }
}
