.card {
  &__wrapp {
    position: relative;
    width: 348px;
    background: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 800px) {
      display: flex;
      gap: 24px;
      height: auto;
      width: 100%;
    }

    @media screen and (max-width: 660px) {
      display: block;
      width: 75%;
    }
    
    @media screen and (max-width: 530px) {
      width: 90%;
    }
    
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  &__favourite {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--color-white);
  }

  &__img {
    width: 100%;
    height: 208px;

    @media screen and (max-width: 800px) {
      width: 300px;
      height: auto;
    }

    @media screen and (max-width: 660px) {
      width: 100%;
      height: auto;
    }
  }

  &__data {
    position: relative;
    padding: 24px;
    font-weight: 200;
    line-height: 130%;

    h4 {
      font-size: 23px;
    }

    p {
      margin-bottom: 12px;
      font-size: 14px;
    }

    &_price {
      font-size: 18px;
      font-weight: 500;
    }

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__icons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    div {
      text-align: center;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
    }

    span {
      font-weight: 300;
      font-size: 14px;
    }

    @media screen and (max-width: 660px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 400px) {
      justify-content: space-between;
    }
  }

  &__agency {
    width: 68px;
    position: absolute;
    right: 10px;
    top: 8px;
  }

  &__active {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__btn {
    margin: auto;

    &:hover {
      color: var(--color-text);
    }
  }
}

/* AddContainer */
.form__ad-item {
  display: none;
}
