.filter__container {
  padding: 0px;
  padding: 24px 0;
}

.filter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

.filter input:active,
.filter input:focus {
  width: 380px;
}

.filter__icon {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
}

.ant-select-selection-item,
.ant-space-item .ant-input[placeholder] {
  font-family: var(--font-main);
}

.select-wrap:hover,
.select-wrap:hover .ant-select-selector {
  border-color: var(--color-primary) !important;
}

.search-filters {
  flex-wrap: wrap;
}

.filter__none {
  display: none;
}

.filter__none.display {
  display: block;
}

/* mobile */
@media screen and (max-width: 768px) {
  .filter {
    width: 80%;
  }

  .filter input:active,
  .filter input:focus {
    width: 90%;
  }

  .block-tabs.md-hidden {
    display: flex;
    justify-content: center;
  }

  .filter__container {
    padding-top: 8px;
  }
}
