.filter__container {
    padding: 24px 0;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}

.filter .input-wrap,
.filter .input-wrap input {
    width: 240px;
}

.select-wrap,
.select-wrap .ant-select-selector {
    width: 240px; 
    outline: none; 
}

.ant-select-selection-item,
.ant-space-item .ant-input[placeholder] {
    font-family: var(--font-main);
}

.select-wrap:hover,
.select-wrap:hover .ant-select-selector {
    border-color: var(--color-primary)!important;
}

/* mobile */
@media screen and (max-width: 1100px) {
    .filter {
        justify-content: space-between;
        gap: 24px 0px ;
    }
}

@media screen and (max-width: 900px) {
    .filter {
        flex-wrap: wrap;
    }

    .filter .btn {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .filter__container {
        width: 100%;
        margin: auto;
    }

    .filter {
        flex-wrap: wrap;
        width: 100%;
    }

    .filter .input-wrap {
        width: 45%;
    }

    .filter .input-wrap.sort {
        width: 70%;
    }

    .filter .input-wrap input {
        width: 100%;
    }

    .filter .btn {
        margin: 0;
        padding: 0.7rem 3rem;
    }
}

@media screen and (max-width: 580px) {
    .filter .input-wrap.sort {
        width: 100%;
    }

    .filter .btn {
        margin: auto;
        padding: 0.7rem 8rem;
    }
}

@media screen and (max-width: 470px) {
    .filter .input-wrap {
        width: 100%;
    }
}